<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<a href="{{ site.url }}/"><h1>bbubbush <small>Tech</small></h1></a>
	</div>
	<div class="col-md-6">
		<ul class="header">
			<li>Algorithm</li>
			<li>Tech</li>
			<li>Diary</li>
		</ul>
		<!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Algorithm</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Tech</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Diary</button>
		  </div>
		</div> -->
	</div>
	<div class="col-md-2 col-md-offset-1">
		<!-- 추후 검색을 위한 공간 -->
	</div>
	<!-- <div class="col-md-4 col-md-offset-1">
		<h1>
			<a href="{{ site.url }}/profile"><img src="{{ site.url }}/assets/title/profile.png" width="10%"></a>
			<a href="{{ site.url }}/tag"><img src="{{ site.url }}/assets/title/tag.png" width="10%"></a>
			<a href="{{ site.url }}/partner"><img src="{{ site.url }}/assets/title/partner.png" width="10%"></a>
		</h1>
	</div> -->
</div>

