<div class="row-fuied">
	<div class="col-md-5 col-md-offset-2">
		<a href="{{ site.url }}/"><h1>bbubbush's blog <small>programming diary etc</small></h1></a>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<h1>
			<a href="{{ site.url }}/profile"><img src="{{ site.url }}/assets/title/profile.png" width="10%"></a>
			<a href="{{ site.url }}/tag"><img src="{{ site.url }}/assets/title/tag.png" width="10%"></a>
			<a href="{{ site.url }}/partner"><img src="{{ site.url }}/assets/title/partner.png" width="10%"></a>
		</h1>
	</div>
</div>

