h1.title{
	margin-left: 30px;
}
.sub-title{
	color: blue;
}

ul.header{
	padding-top:40px
}
ul.header li{
	display:inline;             
    font:bold 12px;
    font-size: 20px;
    padding: 0px 30px;
}
