<!DOCTYPE html>
<html>
	<head>
	    {% include head.html %}
	    <title>{{ site.title }}</title>
	    <link href="{{ site.url }}/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	    <link href="{{ site.url }}/assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
	    <link href="{{ site.url }}/assets/css/header.css" rel="stylesheet" type="text/css"/>
	    <link href="{{ site.url }}/assets/css/home.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		{% include header.html %}
		{% include categories.html %}
		<div class="row">
			<div class="col-md-12">	
				{{ content }}
			</div>
		</div>
		{% include footer.html %}

	</body>

	<script src="{{ site.url }}/assets/js/jquery-3.3.1.js"></script>
	<script src="{{ site.url }}/assets/js/bootstrap.js"></script>
</html>


