---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">Posted by
            <a href="#">bbubbush</a>
            on {{ page.date | date: '%B %d, %Y' }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>뭐야2</h1>
        <!-- {% assign category = page.category | default: page.title %}
        {% for post in site.categories[category] %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
              <small>{{ post.date | date_to_string }}</small>
            </h3>
          </li>
        {% endfor %} -->
        <!-- Home Post List -->




        {% assign sorted_cats = site.categories | sort %}
	{% for category in sorted_cats %}
    	<h2 id="{{cat}}">{{ cat | capitalize }}</h2>
    {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
    	<p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
{% endfor %}
<ul class="posts-list">
    {% for post in site.categories[cat] %}
        <li>
        <strong>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </strong>
        <span class="post-date">- {{ post.date | date_to_long_string }}</span>
        </li>
    {% endfor %}
</ul>
{% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
      
    </div>
  </div>
</div>
